{% extends 'base.html.twig' %}

{% block main %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h1>Реферальная система</h1>
                    </div>
                    <div class="ibox-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}