<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alphastream</title>

    <link rel="icon" type="icon/png" href="{{ asset('assets/img/favicon.png') }}"/>

    {# TODO: Make webpack compile in app.js these js files in order, that listed in assets/js/app.js #}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/datatables.min.css') }}">

    {# TODO: Make webpack compile in app.js these js files in order, that listed in assets/js/app.js #}
    {#<script src="{{ asset('build/app.js') }}"></script>#}
    {# TODO: Deal with routing in js code #}
    {#<script src="{{ asset('assets/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    <script src="{{ asset('assets/js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/js/pace.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/inspinia.js') }}"></script>
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
</head>

<body class="md-skin">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Example user</span>
                                <span class="text-muted text-xs block">menu <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'statistics' %}active{% endif %}">
                        <a href="{{ path('statistics') }}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Статистика</span></a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'payment' %}active{% endif %}">
                        <a href="{{ path('payment') }}"><i class="fa fa-credit-card"></i> <span class="nav-label">Пополнить счет</span></a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'referral' %}active{% endif %}">
                        <a href="{{ path('referral') }}"><i class="fa fa-handshake-o"></i> <span class="nav-label">Реферальная система</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            {% block main %}{% endblock main %}
        </div>
    </div>
</body>
</html>